@import "./iconfont.styl"
@import "./variable.styl"
@import "./media.styl"
@import "./mintui.styl"
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}



body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;-webkit-tap-highlight-color:rgba(255,255,255,0)}
html
    color:#333
    overflow:-moz-scrollbars-vertical
    font-size:100%
    -webkit-text-size-adjust:100%
    -ms-text-size-adjust:100%
    -webkit-text-size-adjust:none

body,button,input,textarea{font:14px/1.42857 "微软雅黑","Microsoft Yahei","Helvetica Neue","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;word-break:break-word}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
em,i{font-style:normal}
ul,ol{list-style:none}
a{text-decoration:none;outline:0;color:#333;-webkit-tap-highlight-color:rgba(255,255,255,0)}
a:hover{text-decoration:none}
legend{color:#000}
fieldset,img{border:0}
button,textarea{font-size:100%;border:none 0;outline:0;-webkit-appearance:none}
table{border-collapse:collapse;border-spacing:0}
th,td{text-align:left}
img{-ms-interpolation-mode:bicubic;vertical-align:top;border:0}
textarea{resize:vertical;resize:none}
input:focus,textarea:focus{outline:0}
input:-moz-placeholder,textarea:-moz-placeholder,select:-moz-placeholder, 
select:-moz-placeholder,select:-moz-placeholder,select:-moz-placeholder{color:#999999}
input:-ms-input-placeholder,textarea:-ms-input-placeholder,select:-ms-input-placeholder,
select:-ms-select-placeholder,textarea:-ms-select-placeholder,select:-ms-select-placeholder{color:#999999}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder,select::-webkit-input-placeholder,
select::-webkit-select-placeholder,textarea::-webkit-select-placeholder,select::-webkit-select-placeholder{color:#999999}
input[type="text"]:disabled{
 color: #999999;
}
input[type="text"]:disabled{ color: #999999; }



/*简介富文本重置*/
.quotetext *{max-width:100%!important}
.quotetext a{color:-webkit-link;cursor:auto;text-decoration:underline}
.quotetext a:-webkit-any-link{color:-webkit-link;cursor:auto;text-decoration:underline}
.quotetext h1{display:block;font-size:2em;-webkit-margin-before:.67em;-webkit-margin-after:.67em;-webkit-margin-start:0;-webkit-margin-end:0;font-weight:bold}
.quotetext h2{display:block;font-size:1.5em;-webkit-margin-before:.83em;-webkit-margin-after:.83em;-webkit-margin-start:0;-webkit-margin-end:0;font-weight:bold}
.quotetext h3{display:block;font-size:1.17em;-webkit-margin-before:1em;-webkit-margin-after:1em;-webkit-margin-start:0;-webkit-margin-end:0;font-weight:bold}
.quotetext h4{display:block;-webkit-margin-before:1.33em;-webkit-margin-after:1.33em;-webkit-margin-start:0;-webkit-margin-end:0;font-weight:bold}
.quotetext h5{display:block;font-size:.83em;-webkit-margin-before:1.67em;-webkit-margin-after:1.67em;-webkit-margin-start:0;-webkit-margin-end:0;font-weight:bold}
.quotetext h6{display:block;font-size:.67em;-webkit-margin-before:2.33em;-webkit-margin-after:2.33em;-webkit-margin-start:0;-webkit-margin-end:0;font-weight:bold}
.quotetext p{display:block;-webkit-margin-before:1em;-webkit-margin-after:1em;-webkit-margin-start:0;-webkit-margin-end:0}
.quotetext ul,
.quotetext menu,
.quotetext dir
{display:block;list-style-type:disc;-webkit-margin-before:1em;-webkit-margin-after:1em;-webkit-margin-start:0;-webkit-margin-end:0;-webkit-padding-start:40px}
.quotetext ol{display:block;list-style-type:decimal;-webkit-margin-before:1em;-webkit-margin-after:1em;-webkit-margin-start:0;-webkit-margin-end:0;-webkit-padding-start:40px}
.quotetext li{display:list-item;text-align:-webkit-match-parent}
.quotetext i,.quotetext cite,.quotetext em,.quotetext var,.quotetext address,.quotetext dfn{font-style:italic}
.quotetext strong,
.quotetext b
{font-weight:bold}

textarea {
    outline: none
    border: 0
    resize: none
}

body {
    line-height: 1.5;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* custom */
a {
    color: #333;
    text-decoration: none;
    -webkit-backface-visibility: hidden;
}

li {
    list-style: none;
}

::-webkit-scrollbar {
    /* width: 5px; */
    /* height: 5px; */
}

::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 6px;
}

html, body {
    width: 100%;
}

.bottomNavPadding{       //如有底部导航 底部空50
    padding-bottom:50px;
}

body {
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.bodyOverHide
    height: 100%
    overflow: hidden
    position: absolute
    left: 0
    top: 0
    width: 100%
    padding:0 !important

body, html
    font-weight: 200;
    font-family: 'Microsoft Yahei'
    color: #333
.bodyBackgroundColor
    background:rgb(230, 230, 230);
img[lazy=loading]
    width: 62px
    height: 62px
 

 //头部样式
.header
    position:fixed
    height:50px
    text-align: center
    top:0
    left:0
    width:100%
    background: #ffffff;
    z-index: 9999;
    box-shadow: 0 1.5px 2px rgba(0, 0, 0, 0.2);
    .headerLogin
        position:absolute
        left:0
        top:0
        width:50px
        height:50px
        .noLogin
            i
                font-size:24px
                padding-top: 14px
                display: block
        .Login
            img
                height:30px
                width:30px
                vertical-align: top
                margin-top: 10px
    .headerTab
        border-radius: 2px
        border: 1px solid $color-background-origin
        box-sizing: border-box
        -webkit-box-sizing: border-box
        margin: 10px auto 0
        display: inline-block;
        a
            position: relative;
            font-size: 14px;
            color: $color-background-origin;
            letter-spacing: 0.82px;
            line-height: 28px;
            text-align: center;
            box-sizing: border-box;
            display: inline-block;
            &.active
                background:$color-background-origin;
                color:#ffffff
    .headerTabTwo
        a
            width:100px
    .headerTabThree
        width:70%
        a
            width:33.33%
    h2
        line-height:50px;
        font-size: 18px;
        color: #000;
    
.shadow 
    box-shadow: 0 1.5px 1.5px rgba(0, 0, 0, 0.2)
    border-radius: 3px
    background: #ffffff
    margin-bottom: 10px
    overflow:hidden

h2.ItemTitle
    line-height: 24px
    font-size: 16px
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
    padding: 8px 15px
    position:relative
    p
        display: block
        width: 85%
        color: #666666
    .arrow
        position:absolute
        right:0
        top:0
        width:10%
        height:100%
    i
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        margin: auto
        height: 16px
        text-align: center
        color:$color-grey
    
.H3-Title
    line-height: 25px;
    font-size: 13px;
    border-top: 1px solid rgba(0,0,0,.1);
    padding: 4px 15px;
    background: #fafafa;

//查看更多

.viewSee_more 
    background: #f2f2f2
    text-align: center
    line-height: 34px
    border-top: 1px solid rgba(0, 0, 0, 0.1)
    a
        color: #999999
        font-size: 14px
        display: block