// 颜色定义规范
$color-background-origin = #F35B00
$color-grey= #999999;
$color-666 =#666666

$color-background-d = rgba(0, 0, 0, 0.3)
$color-line-d = rgba(0, 0, 0, 0.05)

//字体定义规范
$font-size-small-s = 10px
